@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.hospitalCards {
  min-height: 50vh;
}

/* * {
  margin: 0 !important;
  padding: 0 !important;
} */

/* .nav .nav-item {
  margin: 50px !important;
} */
.p1 {
  font-family: "Roboto", sans-serif !important;
}
.body-content {
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.department {
  margin: auto !important;
}

.nav-link{
    padding: 0.5rem 1rem !important;
}
.appointment{
  color: var(--orange ) !important;
}

.carddesign{
  width: 1000px;
  border-radius: 25px;
}

@media screen and (max-width:600px) {
  .carddesign{
      width: 300px;
      border-radius: 25px;
  }
}
