.btnlogin {
    width: 88px;
    height: 36px;
    background: #188067 !important;
    border-radius: 12px;
    border: none;
    border-bottom: 1px solid #161817;
    color: white;
}
.dbtnsignup {
    width: 88px;
    height: 36px;
    border-radius: 12px !important;
    border: none;
    
    color: rgb(155, 131, 131) !important;
    background: rgb(229, 229, 229) !important;
}
.dbtnsignup a{
    text-decoration: none;
    color: #044A3A;
}
.dbtnlogin a{
    text-decoration: none;
    color: #044A3A;
}
.btnsignup {
    width: 88px;
    height: 36px;
    background: white !important;
    border-radius: 12px;
    border: none;
    border-bottom: 1px solid #161817;
    color: #044A3A;
    font-weight: 500;

}
.dbtnlogin {
    width: 88px;
    height: 36px;
    
    border-radius: 12px;
    border: none;
    border-bottom: 1px solid #161817;
    color: rgb(155, 131, 131);
}
.login_logo{
    max-width: 5%;
}

.loginimg{
    width: 100%;
    margin-left: 10px;     
}
.loginLogo{
    width: 20%;     
}
@media (max-width: 768px){
    .small{
        background-color: #99e3d2 ;
    }
    .loginLogo{
        width: 25%;     
    }
    .loginimg{
        display: none;
    }
}

.acolor{
    color: black;
}
.login{
    color: var(--orange ) !important;
  }
  .signuptext{
    font-family: var(--fontfamily-poly);
    color: var(--green );
    font-size: 1.em;
  }