
.small-box {
    background:  #15a684;
    border-radius: 27px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.small-box>.inner {
    padding: 10px
}


.small-box h3 {
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0
}

.small-box p {
    font-size: 15px
}

.small-box p>small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px
}

.small-box h3,
.small-box p {
    z-index: 5px;
    color: white;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 0;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.955)
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9
}

.small-box:hover .icon {
    font-size: 95px
}

@media (max-width:767px) {
    .small-box {
        text-align: center
    }

    .small-box .icon {
        display: none
    }

    .small-box p {
        font-size: 12px
    }
}

#myChartPie{
    margin-top: 2em;
    width:300px !important;
    height:300px !important;

}

#myChartPie1{
    margin-top: 2em;

}