
/* .table {
    margin-top: 50px;;
}
.title {               
    background: #188067;
    color: white;
}
table tr{
    font-size: 1.3vw;
} */

/* table .tablebottom{
    border-bottom: 2px solid black;
} */

img{
    width: 40%;
}

/* .adminDoctorList {
    background-color: var(--green);
    color: var(--white);
    height: 70px;
} */
/* pagination */
.pager .active {
    background-color: #188067;
    color: white !important;
    font-weight: 700;
    transition: all 0.3s;
  }
  .pager .btnNum {
    transition: all 0.3s;
    color: black;
  }
  .pager .btnNum:hover {
    background-color: rgb(240, 240, 240);
    color: black;
    font-weight: 700;
  }
